*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;

}

#clock_containner{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 40%;
    height: 60%;
    border-radius: 40px;
    gap: 20px;
    filter: drop-shadow(0px 0px 7px #000000);
}

p{
    font-weight: 800;
    text-align: center;
}

#img_containner{
    display: flex;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 10px;
    border-color: #ffffff;
}

img{
    width: 250px;
}

/*manhã #ff9e37 tarde #3facff noite #2029ab  madrugada #050727*/